$gap: 30px;
$border-radius: 3px;

// typography
$font-sans: 'Open Sans', sans-serif;
$font-poppin: 'Poppins', sans-serif;
$font-size-small: 10px;
$font-size-medium: 14px;
$font-size-medium-l: 16px;

// Color
$color-primary: #FF8106;

$color-text: #24242E;
$color-main: #6A63DD;
$color-accent: #72D2E3;
$color-border: #ECECFE;
$color-info: #1890FF;
$color-success: #52C41A;
$color-warning: #FAAD14;
$color-error: #FF4D4F;